
vpath %.in $(AA_SITE_TEMPLATE_PATH)
vpath %.xml $(AA_SITE_TEMPLATE_PATH)
vpath %.properties $(AA_SITE_TEMPLATE_PATH)
vpath %.py $(AA_SITE_TEMPLATE_PATH)
vpath %.bash $(TOP)/scripts
vpath %.sh $(TOP)/scripts
vpath %.war $(TOP)
vpath %.jar $(TOP)
vpath %.local $(TOP)/configure
vpath %.war $(TOP)
vpath %.in $(AA_SITE_TEMPLATE_PATH)/systemd
vpath %.service $(AA_SITE_TEMPLATE_PATH)/systemd
vpath %.conf $(AA_SITE_TEMPLATE_PATH)

include $(TOP)/configure/RULES_FUNC
include $(TOP)/configure/RULES_PATCH
-include $(TOP)/configure/RULES_REQ
include $(TOP)/configure/RULES_SRC
include $(TOP)/configure/RULES_INSTALL
include $(TOP)/configure/RULES_SYSTEMD
-include $(TOP)/configure/RULES_DOCKER
include $(TOP)/configure/RULES_SQL
include $(TOP)/configure/RULES_PROPERTIES
include $(TOP)/configure/RULES_TOMCAT
include $(TOP)/configure/RULES_VARS

